<style>



  .animation1 {

    font-family: 'Poppins', sans-serif;


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 99vh;

    background-color: #292929;

  }



  .text-part{
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }

  .text-part h2{
    font-size: 4rem;
  }

  .text-part p{

  }



  .orbit1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;

    border-radius: 50%;
    border: 2px solid #fff;
    border-bottom: none;
    border-left: none;

    animation: rotate 10s linear infinite;
  }

  .orbit1:before{
    content: "";
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 170px;

    border-radius: 50%;
    border: 4px solid #fff;
    border-top: none;
    border-right: none;

    animation: rotate 8s linear infinite;

  }

  .orbit1:after{
    content: "";
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 6px solid #fff;
    border-top: none;
    border-right: none;

    animation: rotate 12s linear infinite;

  }


  .planet1 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);
    animation: orbit 5s linear infinite;
  }

  .planet1-1 {
    background-color: #ffdb58;
    animation-delay: 0s;
  }

  .planet1-2 {
    background-color: #ff69b4;
    animation-delay: 2s;
  }

  .planet1-3 {
    background-color: #00ced1;
    animation-delay: 4s;
  }

  .trail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8), 0 0 20px rgba(255,255,255,0.2) inset;
    animation: fade-out 10s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes orbit {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translate(75px) rotate(0deg) translate(-50%, -50%);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translate(75px) rotate(-360deg) translate(-50%, -50%);
    }
  }

  @keyframes fade-out {
    0% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.8), 0 0 20px rgba(255,255,255,0.2) inset;
    }
    50% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.8), 0 0 50px rgba(255,255,255,0.1) inset;
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.8), 0 0 100px rgba(255,255,255,0) inset;
    }
  }
  
  @media (max-width: 768px) {
    .animation1{
      padding: 20%;
      overflow: hidden;
    }

    .orbit1:after {

      width: 150px;
      height: 150px;

    }

    .orbit1:before {

      width: 100px;
      height: 100px;

    }

    .orbit1{
      width: 400px;
      height: 400px;
    }
  }




</style>




<div class="animation1 animation1HomeMargin animation1ServiceMargin">
  <div class="text-part">
    <h2>Build Effective Animations</h2>
    <p>With Us</p>
  </div>

  <div class="orbit1">
    <div class="planet1 planet1-1"></div>
    <div class="planet1 planet1-2"></div>
    <div class="planet1 planet1-3"></div>
  </div>
</div>


