<section class="footer2">
    <div class="surgepedInfo">

        <h2 class="FooterHeads2">About Us</h2>
        <div class="surgepedinfotext2">
            <!--At surgeped we believe in delivering quality services to our business clients.we have our quality team we specializes in providing services. We are the all in one solution to your business making it achieve higher growth.-->
            We're a team of passionate problem-solvers who love nothing more than helping our clients succeed. With innovative strategies, cutting-edge technology, and data-driven insights, we create custom solutions that drive results. Let's work together to build your brand, grow your business, and achieve your goals.
        </div>
        <div class="contactusinfo2">
            <h2 class="FooterHeads2">Contact Us</h2>
            <div class="phoneno2">
                <div class="phoneimg2"></div>
                <a href="tel: +917735981456" target="_blank" style="text-decoration: none;">+917732971084</a>
            </div>

            <div class="emailinfo2">
                <div class="emailimg2"></div>
                <a class="fmail" style="text-decoration: none;" href="hello@surgeped.com?subject = queries&body = Message" target="_blank">hello@surgeped.com</a>
            </div>

            <div class="officeadd2">
                <div class="officeaddimg2"></div>
                <a href="" style="text-decoration: none;" target="_blank">Mansarovar Sector 7, Shipra Path, Mansarovar, Jaipur, Rajasthan 302020</a>
            </div>
        </div>
    </div>


    <div class="navigate2">
        <h2 class="FooterHeads2">Navigate to</h2>
        <div><a href="/" aria-label="home">Home</a></div>
        <div><a href="service" aria-label="service">Services</a></div>
        <div><a href="blogs" aria-label="blogs">Blogs</a></div>
        <div><a href="career" aria-label="careers">Careers</a></div>
        <!--<a href="#">Query Form</a>-->
        <div><a href="about" aria-label="about">About Us</a></div>
        <div class="socialmediaicon2">
            <a href="https://wa.me/917732971084" aria-label="send whatsapp" target="_blank"> <div class="whatsapp"></div></a>
            <a href="https://in.linkedin.com/company/surgeped-corp" aria-label="linkedin" target="_blank"> <div class="linkedin"></div></a>
            <a href="https://www.facebook.com/surgeped?mibextid=ZbWKwL" aria-label="facebook" target="_blank"> <div class="facebook"></div></a>
            <a href="https://instagram.com/surgeped_?igshid=YmMyMTA2M2Y=" aria-label="instagram" target="_blank"> <div class="instagram"></div></a>
            <a href="mailto:hello@surgeped.com"> <div class="mail" aria-label="surgeped mail" target="_blank"></div></a>
        </div>

    </div>
    <div class="contact2surgeped">

        <form name="myform" class="myform102" action="/submit" method="post">
            <h1>Contact Us</h1><br><br>
            <label for="ntxt">Name</label>
            <input aria-label="name" type="text" required name="ntxt"><br><br>
            <label for="etxt">Email</label>
            <input aria-label="email" type="email" required name="etxt"><br><br>
            <label for="ttxt">Mobile</label>
            <input aria-label="phone number" type="tel" required name="ttxt"><br><br>
            <label for="ptxt">Purpose</label>
            <input aria-label="purpose" type="tel" required name="ptxt"><br><br>
            <input type="submit" value="Submit" class="submit">

        </form>

    </div>


</section>
<div class="footerBottom2">
    <div class="footerbottomtext2"><p>Copyright © Surgeped PVT.Ltd | All Rights Reserved</p></div>
</div>