<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Surgeped - About</title>
    <link rel="stylesheet" href="./aboutstle.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/x-icon" href="img/logos/asd.webp" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
    <!--

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>


    <script>
        $(function(){
            //$("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
-->
  </head>
  <body>
    <div class="cursor"></div>

    <%- include('./partials/nav.ejs') %>

    <section class="AboutHero0">
      <div class="AboutHero1">
        <div class="AboutHeroText">
          <h2>Behold The Surge<br />...</h2>
          <p>
            Driven by a passion for innovation and a commitment to the latest
            technology. Our goal is to provide our clients with creative and
            effective marketing solutions that drive real results.
          </p>
        </div>

        <div class="AboutHeroImg">
          <img style="opacity: 0" src="./img/PngItem_1246858 1.png" />
        </div>
      </div>

      <div class="ExpertSection">
        <div>
          <img class="lineExpert2" src="./img/Line.webp" />
          <!-- <img class="CirclePngBrand" src="./img/circle p.webp" /> -->
          <img
            class="CirclePngBrand"
            src="./img/grow1.jpg"
            style="
              /* width: 490px;
              height: 490px;
              border-radius: 50%;
              border: 2px solid #000;
              margin-left: 40px;
              margin-bottom: 30px;
              margin-top: 30px;
              padding: 50px; */
            "
          />
        </div>

        <div class="ExpertSectionText">
          <p>
            Our team of experts has extensive experience in all aspects of
            marketing, from branding and design to social media, content
            creation, and beyond. We work closely with our clients to understand
            their unique needs and goals, and then develop customized strategies
            that help them achieve their objectives.
          </p>
        </div>
      </div>
    </section>

    <section class="missionSection">
      <div class="missionSectionText missionsectionItem">
        <h2>Our Mission</h2>
        <p>
          Sharpening the competative edge of online businesses so that they can
          build higher reach and a presentable growth
        </p>
      </div>

      <div class="missionsectionItem">
        <img src="./img/mission 1.webp" />
      </div>
    </section>

    <section class="SecWorkAtSurgeped">
      <div class="WorkText">
        <div class="WorkHead">Working at surgeped</div>
        At surgeped,we always try to find new ways of making bisinesses reach
        larger audience.
      </div>
      <div class="WorkEnvImg"></div>
    </section>

    <section class="OurPrinciples22">
      <h2 class="SectionHeadAbout">Our Principles</h2>

      <div class="Principles22Container">
        <div class="Principles22Item">
          <img src="./img/logograys/rating.png" />
          <div class="">
            <h2>Client Facing</h2>
            <p>
              We always prioritize the needs and wants of the customer and work
              to create solutions that meet their demands.
            </p>
          </div>
        </div>
        <div class="Principles22Item">
          <img src="./img/logograys/innovation.png" />
          <div class="">
            <h2>Innovation</h2>
            <p>
              We embrace new ideas and technologies, always seeking to push the
              boundaries of what is possible in the marketing industry.
            </p>
          </div>
        </div>
        <div class="Principles22Item">
          <img src="./img/logograys/book.png" />
          <div class="">
            <h2>Never Ending learning</h2>
            <p>
              We support the ongoing development and education of our employees,
              encouraging them to expand their knowledge and skills.
            </p>
          </div>
        </div>
        <div class="Principles22Item">
          <img src="./img/logograys/collab.png" />
          <div class="">
            <h2>Collaboration</h2>
            <p>
              we foster a culture of collaboration, where team members can work
              together to achieve common goals.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="SecWhyUs">
      <div class="WhyUsText">
        <div class="WhyUsHead">Why Choose Us</div>
        <!--<div>At surgeped we believe in delivering quality services to our business clients. we have our quality team we specializes in providing services like Web development, SEO, Branding, Pay-Per-Click, social media marketing, etc. We are the all in one solution to your business making it achieve higher growth.</div>-->
        <div>
          At Surgeped, we stand out from the competition with our unrivaled
          expertise in SEO, providing customized and data-driven solutions that
          deliver measurable results. With a focus on transparency and
          collaboration, we prioritize our clients' success and strive to build
          lasting partnerships based on trust and excellence in digital
          marketing.”
        </div>
        <div class="WhyUsParaLine"></div>
        <div class="GetStartedAboutLink">
          Get started with us by filling the form below.
        </div>
        <!--<div class="GetStartedAboutLink">Get started with us by filling <a href="#">this</a> simple form</div>-->
      </div>
      <div class="WhyUsImg"></div>
    </section>

    <%- include('./partials/footer2.ejs') %>

    <script src="./cursorjs.js" type="text/javascript" defer></script>
    <script src="./scriptmenu.js" type="text/javascript" defer></script>
  </body>
</html>
