<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">

    <title>Surgeped - About</title>
    <link rel="stylesheet" href="./style.css">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>


    <script>
        $(function(){
            //$("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>

</head>
<body>
<%- include('./partials/nav.ejs') %>



<div class="containerMain">
        <section class="AboutUsMainText">
            <h2>About Us</h2>
            <p>Surgeped is an internet marketing company that offers a wide variety of online marketing services like SEO, web development, branding etc. <br><br>
                We help your online business towards the next level so that your business makes a positive impact and can reach more people. We have been committed since 2 years with many active clients.</p>

            <div class="AboutTextLine"></div>
        </section>



    </div>

    <section class="SecMission">
        <div class="MissionImg">

        </div>
        <div class="MissionText">
            <div class="MissionHead">Our Mission</div>
            Giving online businesses a competative edge in the market so that they can build better profits with larger business reach.
        </div>
    </section>

    <section class="SecWorkAtSurgeped">

        <div class="WorkText">
            <div class="WorkHead">Working at surgeped</div>
            At surgeped,we always try to find new ways of making bisinesses reach larger audience.
        </div>
        <div class="WorkEnvImg">

        </div>
    </section>




    <section class="SecOurPrinciples">

        <div class="PrinciplesImage"></div>
        <div class="PrinciplesText">
            <div class="PrinciplesHead">Our principles</div>

            <div class="PrinciplesHeadLine"></div>
            <ul class="PrincipleList">
                <li>Making Businesses Heard</li>
                <li>Vocal for Local</li>
                <li>Promote economy</li>
                <li>Digital business to Every one</li>
                <li>Marketing services accessible to everyone</li>
            </ul>
        </div>



    </section>



    <section class="SecWhyUs">

            <div class="WhyUsText">
                <div class="WhyUsHead">Why Choose Us</div>
                <div>At surgeped we believe in delivering quality services to our business clients. we have our quality team we specializes in providing services like Web development, SEO, Branding, Pay-Per-Click, social media marketing, etc. We are the all in one solution to your business making it achieve higher growth.</div>
                <div class="WhyUsParaLine"></div>
                <div class="GetStartedAboutLink">Get started with us by filling <a href="#">this</a> simple form</div>
            </div>
            <div class="WhyUsImg">

        </div>
    </section>


<div id="footer"></div>


</body>
</html>