<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="img/logos/asd.webp">
    <!--
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
-->
    <link rel="stylesheet" href="./style.css">

    <link rel="stylesheet" href="./service.css">

    <!--
    <script> 
        $(function(){
          //$("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
        </script>
        -->
</head>

<body>
<%- include('./partials/nav.ejs') %>


    <section id="servicehome">
        <div class="hserve">
            <div class="VideoContainer22">
                <video id="service-background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jp">
                    <source src="./vds/web_animation_final.mp4" type="video/mp4">
                </video>
                <div class="video-overlay22"></div>
            </div>


            <div class="servetext">
                <p class="servetextsmall">OUR</p>
                <p class="servetext1">Services.</p>
                <p class="servetext2">Empowering businesses with innovative IT solutions and data-driven digital marketing strategies. We offer services keeping in mind the value addition to your business. Let's explore the full potential of you business by making you brand and your quality products heard by people.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="team">
            <div class="head ">
                <div class="subhead">
                    Our Experts
                </div>
            </div>

            <div class="subhd ">
                Experience excellence with our team of IT and marketing experts
            </div>
            <div class="bg">
                <div class="abtimg ">


                    <div class="lastimg ">

                        <div class="im"></div>

                        <!--<h2>Modern & Effective tools</h2>-->
                        <h2>Web Developer</h2>

                    </div>
                    <div class="lastimg ">
                        <div class="im1"></div>
                        <!--<h2>Research & Analytics</h2>-->
                        <h2>Web Designer</h2>

                    </div>
                    <div class="lastimg ">

                        <div class="im2"></div>

                        <!--<h2>Tapping Growth</h2>-->
                        <h2>SEO Specialist</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>



<section class="OurExpertsMobile">
    <h2>Our Experts</h2>
    <p>Experience excellence with our team of IT and marketing experts</p>

    <div class="OurExpertsMobileFlex">
        <div>
            <img src="./img/webdev 1.webp">
            <h3>Web Developer</h3>
        </div>


        <div>
            <img src="./img/webdesignMob 2.webp">
            <h3>Web Designer</h3>
        </div>


        <div>
            <img src="./img/webdevMob2.webp">
            <h3>SEO Specialist</h3>
        </div>
    </div>
</section>





    <section id="servicestext">
        <div class="servicestextmain">

            <div class="seo-focused-services">
                <h1>Our SEO Focused Services</h1>
            </div>

            <div class="servicestextmain1">
             <div class="servicestextmain11">
               <div class="serviceimg">

                   <div class="ServicesImgss SImg1"></div>

                    <a href="#"><p>Branding</p></a>
                   Need to brandify your business?  We have the perfecrt tools and perfect team to help you with that. we can design your brand and all the stuff that goes with it.            </div>

              </div>
              
              <div class="servicestextmain11">
                <div class="serviceimg">
                    <div class="ServicesImgss SImg2"></div>
                    <a href="#">  <p>Content Writting</p></a>
                    With critical process of planning writing and polishing we write block post or articles for your audience so that you can connect with them.                 </div>
               
              </div>
              <div class="servicestextmain11">
                <div class="serviceimg">
                    <div class="ServicesImgss SImg3"></div>
                    <a href="#"> <p>Web development</p></a>
                    Have a website to build, we have thel perfect team to help you with that. Our experienced professionals will ensure that you can be star on the internet.
               </div>
                
              </div>
              <div class="servicestextmain11">
                <div class="serviceimg">
                    <div class="ServicesImgss SImg4"></div>
                    <a href="#">  <p>Advertising</p></a>
                    Directly share your new products and services to your customers, whether Promotional emails or Informational ones, we do it all for you.                 </div>
               
              </div>
              <div class="servicestextmain11">
                <div class="serviceimg">
                    <div class="ServicesImgss SImg5"></div>
                    <a href="#">  <p> Marketing</p></a>
                    Post your business on Instagram or Facebook, add more customers and engage the previous once. We have the experts with the tools to help you SHINE on social media
              </div>
          
              
            </div>
           
        </div>

    </section>
<style>
    animation1{
        margin: unset;
    }
</style>

<div style="margin: 1px auto;"></div>
<%- include('./partials/animationcomponent.ejs') %>


<%- include('./partials/weblayoutcarousel.ejs') %>


    <%- include('./partials/footer2.ejs') %>
<script src="./scriptmenu.js" type="text/javascript" defer"></script>

</body>

</html>