

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./uploadblog.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>


    <!-- In your HTML file -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
<h1>Upload a blog</h1>

<form action="/upload-blog" class="upload-blog-form" method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="body">Body: <br>(You can expand the body area as you desire - use the marker at the bottom right corner of body area)</label>
    <!--<textarea id="body" name="body" required></textarea><br>-->
    <div id="body"></div>
    <!--<div id="body"></div><br>-->

    <label for="image">Image:</label>
    <input type="file" id="image" accept="image/jpeg,image/png,image/jpg" required name="image"><br>

    <button type="submit">Submit</button>


</form>




<script>
    var quill = new Quill('#body', {
        theme: 'snow'
    });





    const form = document.querySelector('.upload-blog-form');

    form.addEventListener('submit', (event) => {
        // Prevent the default form submission behavior

        event.preventDefault();

        // Get the form data
        const formData = new FormData(event.target);

        // Get the Quill editor data
        const editorData = JSON.stringify(quill.getContents());


        // Add the Quill editor data to the form data
        formData.append('body', editorData);



        // Send the form data to the server using AJAX or a form submission
        // For example:
        axios.post('/upload-blog', formData)
            .then(response => {
                // Handle the response from the server
                console.log(response);
                //const successDiv = document.getElementById('success-message');
                //successDiv.innerHTML = response.data;
                //window.location.href = '/success';
                document.write("blog uploaded")
            })
            .catch(error => {
                // Handle any errors
            });

        console.log("reACHED HERE");
        console.log("reACHED HERE");
        console.log("reACHED HERE");
        console.log("reACHED HERE");
        console.log("reACHED HERE");

    });

</script>


</body>
</html>




<!--<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script src="../ckeditorhandler.js" defer></script>-->




