
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Surgeped</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Iceland&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="./blogs.css" />
<!--<script src="app.js" defer></script>-->
	<link rel="stylesheet" href="logostyle.css">
<script src="logoslide.js" defer></script>
<script src="https://kit.fontawesome.com/d10c5cfbdc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./style.css">

	<script src="./scriptmenu.js" type="text/javascript" defer></script>

</head>
<body>


<%- include('./partials/nav.ejs') %>

<br>
<br>
<br>
<br>
<br>

<section class="services">
	<h1><div class="hopeweb">Coming Soon..</div></h1>
</section>

<section class="clients">
<h1>Our Clients</h1>


	<div class="slider">
		<div class="slide-track">
			<div class="slide">
				<img src="./img/logos/Cloobot-Logo-higher-res-logo.webp" width="100%">
			</div>
			<div class="slide">
				<img src="./img/logos/GEgP2zzr1R.png" width="100%">
			</div>
			<div class="slide">
				<img src="./img/logos/ccb.PNG" height="100%">
			</div>
			<div class="slide">
				<img src="./img/logos/shriji logo1.PNG" width="80%">
			</div>
			<div class="slide">
				<img src="./img/logos/CITY__2_-removebg-preview.png" height="100%">
			</div>
			<div class="slide">
				<img src="./img/logos/Cafeatepmlgo.png" height="100%">
			</div>
			<div class="slide">
				<img src="./img/logos/LOGOUTSAH.png" height="100%">
			</div>

			<div class="slide">
				<img src="./img/logos/tangent.PNG" height="100%">
			</div>

			<div class="slide">
				<img src="./img/logos/2EAA01EE-3A33-4EDA-9F9B-E357AD058000-removebg-preview 3.png" height="100%">
			</div>
		</div>


	</div>



</section>


	<footer>
		<p>@2022 Surgeped, All rights reserved</p>
	</footer>

	<section class="report">
		<div class="">

		</div>
		<div class=""></div>
		<div class=""></div>
	</section>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>
